

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

#screenWrapper {
    position: relative;
    width: 1024px;
    height: 1366px;
    margin: 10px auto 0 auto;
    background-color: white;  
    overflow: hidden;  
}


/* first page */
#indexCover {
    background-color: #FEE715;
    overflow: auto;
    height: 100%;
}

#destination {
    margin: 90px auto 0 auto;
    width: 70%;
}

#destination h1 {
    font-size: 2.2em;
    margin-bottom: 5px;
}

#head, .headUnder {

    width: 70%;
    margin: 0 auto 0 auto;
}

#head {
    margin-top: 100px;
    font-weight: 800;
    font-size: 9em;
}

.headUnder{
    margin-top: -30px;
    font-size:7em ;
    font-weight: 800;
}

#textInput {
    width: 100%;
    position: relative;
}

#textInput input {
    border: none;
    width: 100%;
    height: 80px;
    font-size: 2.2em;
    padding-left: 10px;
    font-weight: 600;
}


#textInput button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    font-size: 30px;
}

#map{
    position: absolute;
    margin-top: 64px;
    height: 600px;
    width: 100%;
    
}

/* second page*/
#back{
    position: absolute;
    top: 40px;
    left: 40px;
}

#back img  {
    height: 35px;
}

.wrapper{
    width: 75%;
    position: absolute;
    top: 50px;
    left: 12.5%;
}

.input-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.input-wrapper div{
    width: 100%;
    
}

.input-wrapper div p, label, #add-ons-wrapper div p {
    font-size: 24px;
    margin-bottom: 10px;
}

.input-wrapper div input, #mes-input, .input-wrapper div select {
    width: 100%;
    height: 80px;
    background-color: #f3f3f3;
    border: none;
    font-size: 36px;
    padding: 0 20px 0 20px;
}



#add-ons-button {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

#add-ons-button p {
    font-size: 32px;
    font-weight: 500;
}

#add-ons-button img{
    margin-left: 20px;
    height: 40px;
}

#add-ons-wrapper{
    
    margin: 50px 0 0 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


#add-ons-check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.container {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  

  #välj-taxi {
    position: absolute;
    bottom: 40px ;
    left: 32.5%;
    width: 35%;
    height: 90px;
    background-color:#FEE715 ;
    border:none;
    border-radius: 8px;
    font-size: 36px ;
    font-weight: 500;
  }


  /* third page */

  .wrapper2{
    width: 100%;
    position: absolute;
    top: 140px;
    z-index: 1;
}

#taxibolag {
    position: absolute;
    left: 30%;
    top: 50px;
    font-size: 34px;
    font-weight: 500;
    
}

.taxi-wrapper, .head-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 60px;
}

.head-wrapper{
    font-size: 24px;
    margin-bottom: 10px;
}

p:nth-child(2){
    margin-left: 65px;
    margin-right: 30px;
}

.taxi-wrapper {
    height: 100px;
    transition: .2s ease;
}

.taxi-wrapper img {
    height: 50px;
}

.taxi-wrapper div h2 {
    margin-left: 30px;
    font-size: 32px;
    font-weight: 600;

}

.taxi-wrapper div h3 {
    margin-left: 60px;
    font-size: 28px;
    font-weight: 500;

}

.taxi-wrapper div, .head-wrapper div {
    display: flex;
    
}

.taxi-wrapper img, .taxi-wrapper h2, .taxi-wrapper h3 {
    margin: auto 0 auto 0;
}

.wrapper3{
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 0%;
    overflow: hidden;
    border-top-left-radius: 80px 80px;
    border-top-right-radius: 80px 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 3;
    transition: .35s ease;

}

#exit{
    display: none;
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 2;
    bottom: 0;
    transition: .35s ease;
}



#close-pop{
    position: absolute;
    margin: 40px;
    z-index: 5;
}

#chosed-company{
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#chosed-company img, #chosed-company h1{
    margin: auto 0 auto 0;
}

#chosed-company img{
 height: 70px;
}

#chosed-company h1 {
    margin-left: 40px;
}

#travel-information{
    margin: 230px auto 0 auto;
    width: 70%;
}

#travel-information h2{
    margin-bottom: 20px;
    font-size: 32px;
}

h2 span {
    font-weight: 500;
}

#pay-method{
    margin: 40px auto 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

#pay-method div {
    display: flex;
    justify-content: space-between;
}

#pay-method label {
    font-size: 30px;
    margin-bottom: 30px;
}

input[type=radio] { 
    height: 20px;
    padding-top: 10px;
    transform: scale(2); 
}

/* page four */

#top{
 background-color: white;
 height: 15%;
 border-radius: 25px;
 width: 90%;
 margin: 80px auto 0 auto;
text-align: center;
padding: 30px;
}

#top h1 {
    font-weight: 500;
    font-size: 60px;
    margin: 0px 0 30px 0;
}

#top h2 {
    font-weight: 500;
    font-size: 34px;
}

#bottom{
background-color: white;
 height: 50%;
 border-radius: 25px;
 width: 90%;
 margin: 80px auto 0 auto;
 padding: 100px;
 text-align: left;
}

#bottom h1 {
    margin-bottom: 40px;
    font-size: 34px;
}


#information-box h2 {
    font-weight: 800;
    margin-bottom: 15px;
    font-size: 30px;
}

#avsluta{
    text-decoration: none;
    position: absolute;
    top: 1200px;
    left: 42%;
    display: flex;
    gap: 10px;
 
}

#avsluta h3 {
 color: black;
 font-size: 40px;
}

#avsluta img {
    height: 40px;
    margin-top: 7px;
}

